<h3 mat-dialog-title>Name</h3>

<form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
  <mat-form-field>
    <mat-label>Name</mat-label>
    <input matInput formControlName="value">
    <mat-hint>Name that will be visible to you</mat-hint>
  </mat-form-field>

  <mat-dialog-actions class="buttons">
    <button mat-raised-button [mat-dialog-close]="null">Cancel</button>
    <button mat-raised-button color="primary" [disabled]="!formGroup.valid" type="submit">Create AMR</button>
  </mat-dialog-actions>
</form>
